.Ed {
  color: orange;
  font-size: 36px;
  font-weight: bolder;
  font-family: 'Poppins';
  text-decoration: none;
}

.Ed:hover {
  cursor: pointer;
}

header {
  width: 60%;
  height: 60px;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 1px black;
}

header nav a {
  margin-left: 16px;
  font-size: 16px;
  font-family: 'Open Sans';
}

body {
  margin: 0;
  padding: 0;
}

/*Стили для футера*/
footer {
  font-size: 16px;
  margin-top: 30px;
  width: 100%;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 5px 1px black;
}
