
  /*  background-color: #ffa200;*/

.CreateBlock{
  width: 100%;
  display: flex;
  justify-content: center;
}

.PoolElements{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#PoolContainer{
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

#SelectDepartment{
  border-radius: 4px;
  width: 200px;
  left: -15px;
  margin-right: 15px;
    height: 40px;
      font-size: 16px;
}

#SelectTeacher{
  left: -15px;
  border-radius: 4px;
  margin-right: 15px;
  height: 40px;
  font-size: 16px;
}
.DeleteButton{
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #ffa200;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#CreatePool{
  transition-duration: 0.4s;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid #ffa200;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
}

#ButtonAdd{
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  height: 40px;
  border: 2px solid #ffa200;
  border-radius: 4px;
  font-size: 16px;
}


.DeleteButton:hover {
  background-color: #ffa200;
  color: white;
  outline: 0;
}
#CreatePool:hover {
  background-color: #ffa200;
  color: white;
    cursor: pointer;
  outline: 0;
}
#ButtonAdd:hover {
  background-color: #ffa200;
  color: white;
  cursor: pointer;
  outline: 0;
}
.FinishBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    font-family: 'Open Sans';
}


#DataInput{
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  left: -15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
}
.ProfilePicture{
  width:70px;
  height:70px;

}

#LabelForInput{
  position:relative;
  left: -20px;
}

.pool-sect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tempclass{
  width: calc(25% - 16px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sandbox {
  width: 100%;
  padding: 42px 0px 64px 0;
  display: flex;
  font-size: 18px;
  font-family: 'Open Sans';
  flex-direction: column;
  align-items: center;
}
.sandbox p {
  max-width: 500px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}
